<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jungle.service.demo.repository.mysql.mybatis.DemoUserDao">
    <select id="findUserByName" resultType="DemoUser">
        select * from USER where username = #{userName}
    </select>

    <select id="findAllUser" resultType="DemoUser">
        select * from USER
    </select>
</mapper>