<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="DemoUser" type="com.jungle.service.demo.domain.DemoUserDomain"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
        <!--MySQLConfig中已配置映射扫描，此处不能重复配置-->
        <!--<mapper resource="mybatis/demo/dto/demo-mapper.xml"></mapper>-->
    </mappers>
</configuration>